{% extends "layout.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
       {% if messages %}
        <ul>
         {% for message in messages %}
           <li>{{ message }} </li>
         {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
<br>
<br>
<br>
<br>
<br>
<div class="content-section">
  <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Log In</legend>
          <div class="form-group">
              {{ form.email.label(class="form-control-label") }}
              {% if form.email.errors %} <!-- checking if there are any errors with email when logging in -->
                  {{ form.email(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.email.errors %} <!-- if there are errors -->
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %} <!-- if there are no errors -->
                  {{ form.email(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.password.label(class="form-control-label") }}
              {% if form.password.errors %} <!-- checks to see if there are errors when entering the password -->
                  {{ form.password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.password.errors %} <!-- for any of the erros found -->
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %} <!-- if no errors -->
                  {{ form.password(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-check"> <!-- check box to remember the user -->
              {{ form.remember(class="form-check-input") }}
              {{ form.remember.label(class="form-check-label") }}
          </div>
      </fieldset>
      <p>Don't have an account? <a href="/register">Click to Register!</a></p>
      <div class="form-group">
          {{ form.submit(class="btn btn-outline-dark") }} <!-- submit button -->
      </div>
  </form>
</div>
{% endblock %}
