{% extends "layout.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
       {% if messages %}
        <ul>
         {% for message in messages %}
           <li>{{ message }} </li>
         {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="content-section">
  <form method="POST" action="/register">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Join Today</legend>
          <div class="form-group">
              {{ form.name.label(class="form-control-label") }}
              <!-- checks to see if there are any errors when submitting username for registration -->
              {% if form.name.errors %}
                  {{ form.name(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.name.errors %} <!-- if there are any errors -->
                          <span>{{ error }}</span> <!-- show error message -->
                      {% endfor %}
                  </div>
              {% else %} <!-- if there are no erros -->
                  {{ form.name(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
            {{ form.surname.label(class="form-control-label") }}
            <!-- checks to see if there are any errors when submitting username for registration -->
            {% if form.surname.errors %}
                {{ form.surname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.surname.errors %} <!-- if there are any errors -->
                        <span>{{ error }}</span> <!-- show error message -->
                    {% endfor %}
                </div>
            {% else %} <!-- if there are no erros -->
                {{ form.surname(class="form-control form-control-lg") }}
            {% endif %}
        </div>
          <div class="form-group">
              {{ form.email.label(class="form-control-label") }}
              {% if form.email.errors %} <!-- checks for any errors when adding email -->
                  {{ form.email(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.email.errors %} <!-- if there are any errors print the errors messave -->
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %} <!-- if there are no errors -->
                  {{ form.email(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.password.label(class="form-control-label") }}
              {% if form.password.errors %} <!-- checks to see if any errors with submitting password -->
                  {{ form.password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.password.errors %} <!-- if there are any errors -->
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %} <!-- if no errors -->
                  {{ form.password(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.confirm_password.label(class="form-control-label") }}
              {% if form.confirm_password.errors %} <!-- checks to see if there are any errors confirming the password -->
                  {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.confirm_password.errors %} <!-- if there are errors show the error -->
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %} <!-- if no errors -->
                  {{ form.confirm_password(class="form-control form-control-lg") }}
              {% endif %}
          </div>
      </fieldset>
      <p>Already have an account? <a href="{{ url_for('login') }}">Click to Log in!!</a></p>
      <div class="form-group">
          {{ form.submit(class="btn btn-outline-dark") }} <!-- submit button for registration -->
      </div>
  </form>
{% endblock %}
