{% extends "layout.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
       {% if messages %}
        <ul>
         {% for message in messages %}
           <li>{{ message }} </li>
         {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
<br>
<br>
<br>
<br>

<br>
<div class="content-section">
  <form method="POST" action="/apply">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">1. {{title}}:</legend>
          <div class="form-group">
              {{ form.courseField.label(class="form-control-label") }}
              <!-- checks to see if there are any errors when submitting username for registration -->
              {% if form.courseField.errors %}
                  {{ form.courseField(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.courseField.errors %} <!-- if there are any errors -->
                          <span>{{ error }}</span> <!-- show error message -->
                      {% endfor %}
                  </div>
              {% else %} <!-- if there are no erros -->
                  {{ form.courseField(class="form-control form-control-lg") }}
              {% endif %}
          </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-dark") }} <!-- submit button for registration -->
      </div>
  </form>
{% endblock %}
