{% extends "layout.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
       {% if messages %}
        <ul>
         {% for message in messages %}
           <li>{{ message }} </li>
         {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="content-section">
  <form method="POST" action="/edit">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">My A-levels</legend>
          <div class="form-group">
              {{ form.subjectField1.label(class="form-control-label") }}
              <!-- checks to see if there are any errors when submitting username for registration -->
              {% if form.subjectField1.errors %}
                  {{ form.subjectField1(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.subjectField1.errors %} <!-- if there are any errors -->
                          <span>{{ error }}</span> <!-- show error message -->
                      {% endfor %}
                  </div>
              {% else %} <!-- if there are no erros -->
                  {{ form.subjectField1(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.gradeField1.label(class="form-control-label") }}
              <!-- checks to see if there are any errors when submitting username for registration -->
              {% if form.gradeField1.errors %}
                  {{ form.gradeField1(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.gradeField1.errors %} <!-- if there are any errors -->
                          <span>{{ error }}</span> <!-- show error message -->
                      {% endfor %}
                  </div>
              {% else %} <!-- if there are no erros -->
                  {{ form.gradeField1(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.subjectField2.label(class="form-control-label") }}
              <!-- checks to see if there are any errors when submitting username for registration -->
              {% if form.subjectField2.errors %}
                  {{ form.subjectField2(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.subjectField2.errors %} <!-- if there are any errors -->
                          <span>{{ error }}</span> <!-- show error message -->
                      {% endfor %}
                  </div>
              {% else %} <!-- if there are no erros -->
                  {{ form.subjectField2(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.gradeField2.label(class="form-control-label") }}
              <!-- checks to see if there are any errors when submitting username for registration -->
              {% if form.gradeField2.errors %}
                  {{ form.gradeField2(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.gradeField2.errors %} <!-- if there are any errors -->
                          <span>{{ error }}</span> <!-- show error message -->
                      {% endfor %}
                  </div>
              {% else %} <!-- if there are no erros -->
                  {{ form.gradeField2(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.subjectField3.label(class="form-control-label") }}
              <!-- checks to see if there are any errors when submitting username for registration -->
              {% if form.subjectField3.errors %}
                  {{ form.subjectField3(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.subjectField3.errors %} <!-- if there are any errors -->
                          <span>{{ error }}</span> <!-- show error message -->
                      {% endfor %}
                  </div>
              {% else %} <!-- if there are no erros -->
                  {{ form.subjectField3(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.gradeField3.label(class="form-control-label") }}
              <!-- checks to see if there are any errors when submitting username for registration -->
              {% if form.gradeField3.errors %}
                  {{ form.gradeField3(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.gradeField3.errors %} <!-- if there are any errors -->
                          <span>{{ error }}</span> <!-- show error message -->
                      {% endfor %}
                  </div>
              {% else %} <!-- if there are no erros -->
                  {{ form.gradeField3(class="form-control form-control-lg") }}
              {% endif %}
          </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-dark") }} <!-- submit button for registration -->
      </div>
  </form>
{% endblock %}
