{% extends "layout.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
       {% if messages %}
        <ul>
         {% for message in messages %}
           <li>{{ message }} </li>
         {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
<br>
<div class="container text-center">
    <h1>{{ title }}</h1>
</div>
<br>
<div class="container text-center">
  <form method= "POST" action="/exe">
     {{ form.hidden_tag() }}
    {{ form.submit(class="btn btn-outline-dark") }}
</form>
</div>
{% endblock %}
