{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="container text-center">
        <br>
        <br>
        <br>
          {% if current_user.is_authenticated %}
            Welcome {{ current_user }} !
          {% else %}
          <p>University Application Service</p>
          <div class = "btn-group">
            <form action="/login">
              <button class = "btn" href="/login"> Login</button>
            </form>
            <form action="/register">
              <button class = "btn" href="/register"></i>Register</button>
            </form>
          </div>
              </div>
            </div>
          </div>
  {% endif %}

{% endblock content %}
