{% extends 'layout.html' %}
{%block content%}
{% with messages = get_flashed_messages() %}
   {% if messages %}
     {% for message in messages %}
         <div class="alert alert-info">{{ message }} </div>
     {% endfor %}
   {% endif %}
 {% endwith %}


 <br>
 <br>
 <br>
 <br>
 <br>
  <div class="container text-center">
    <div class="row">
      <div class="container text-center">
        <h1>UniRoll</h1>
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/deadlift.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/gym.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/pushup.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

        <button class = "btn" href="{{url_for(security/login)}}"><i class="fas fa-sign-in-alt fa-5x" ></i>Login</button>
        <button class = "btn " href="/register"><i class="fas fa-user-plus fa-5x"></i>Register</button>
      </div>
    </div>
  </div>
  {%endblock%}
