{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center">
    <h1>{{ title }}</h1>
</div>
<br>
<hr>
<div class="card" style="width: 18rem;">


  </div>
  <div class="card-header">
    <h1 class="h4" >Applied Course </h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ current_user.appliedCourse }}</li>
  </ul>
  <div class="card-header">
    <h1 class="h4" >University Enrolled: </h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{{uni.url}}">{{uni.uniName}}</a> {{ course.CourseName }}</li
  </ul>
{% endblock %}
