{% extends "layout.html" %}
{% block content %}
<br>

<br>
<hr>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center">
    <h1>{{ title }}</h1>
</div>
<div class="card" style="width: 18rem;">


  </div>
  <div class="card-header">
    <h1 class="h4" >1st A-level </h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Subject : {{ current_user.subject1 }}</li>
    <li class="list-group-item">Grade: {{ current_user.grade1 }}</li>
  </ul>
  <div class="card-header">
    <h1 class="h4" >2nd A-level </h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Subject : {{ current_user.subject2 }}</li>
    <li class="list-group-item">Grade: {{ current_user.grade2 }}</li>
  </ul>
  <div class="card-header">
    <h1 class="h4" >3rd A-level </h1>
  </div>
  <ul class="list-group list-group-flush">
  <li class="list-group-item">Subject : {{ current_user.subject3 }}</li>
  <li class="list-group-item">Grade: {{ current_user.grade3 }}</li>
  </ul>
  <br>
  <div class="container text-center">
    <form action="/edit">
    <input type="submit" value="Edit Qualifications"/>
</form>
  </div>

<br><br><br><br><br><br><br><br>
{% endblock %}
