{% extends "layout.html" %}
{% block content %}
<br>

<div class="container text-center">
    <h1>{{ title }}</h1>
</div>
<br>
<hr>
<div class="card" style="width: 18rem;">


  </div>
  <div class="card-header">
    <h1 class="h4" >Results: </h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Total Students Enrolled: {{ total_enrolled }}</li>
  </ul>
  <div class="card-header">
    <h1 class="h4" > Total Students: {{total}}</h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Percentage of students enrolled {{ percentage_enrolled }}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of Universities: {{ uniNo }}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of Students that fulfill University Criteria Exactly: {{ nStudentsFulfill}}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of Students that fulfill University Criteria: {{ nStudentsFulfillorHigher}}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of seats available: {{seats}}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Percentage of Students that fulfill Criteria: {{ pFulfilled }}</li>
  </ul>
  <div class="card-header">
    <h1 class="h4" >Results per course: </h1>
  </div>
    {% for data in courseData %}
  <ul class="list-group list-group-flush">
    <ul>
    <li class="list-group-item">
      <h5>{{data[0]}}: {{data[1]}}</h5>
      <li> Total Enrolled:{{data[2]}},   </li>
      <li>Total seats:{{data[3]}},</li>
      <li># Students that match course criteria exactly: {{data[4]}},</li>
      <li> # Students that match course criteria or higher: {{data[5]}}</li>
      <li># Students Enrolled at course that match course's criteria exactly: {{data[6]}}</li>
      <li># Students Enrolled at course that match course's criteria or higher: {{data[7]}}</li>
     </ul>
  </ul>
  {% endfor%}
{% endblock %}
