{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="container text-center">
        <br>
        <h1>Students</h1>
        <br>
        {% for student in students %}
        <br />
        {{ student.studentId}}<br />
          {{ student. studentName}}<br />
          {{ student.studentSurname}}<br />
          {{ student.email}}<br />
          {{ student.password}}<br />
            {{ student.grade1}}<br />
            {{ student.subject1}}<br />
            {{ student.grade2}}<br />
            {{ student.subject2}}<br />
            {{ student.grade3}}<br />
            {{ student.subject3}}<br />
            {{ student.preferences}}<br />
            {{ student.credits}}<br />
            {{ student.appliedCourse}}<br />
            {{ student.enrolledCourse}}<br />
            <br />
        {% endfor %}

        <h1>Universities</h1>
        {% for uni in university %}
        <br />
          {{uni.ranking}}<br />
            {{uni.uniName}}<br />
            {{uni.url}}<br />
            <br />
        {% endfor %}

        <h1>Courses</h1>
        {% for course in courses %}
        <br />
          {{course.rank}} <br />
          {{course.CourseName}}<br />
            {{course.req1}}<br />
            {{course.req2}}<br />
            {{course.req3}}<br />
            {{course.criteria}}<br />
            {{course.seats}}<br/>
            {{course.University}}<br />
            <br />
        {% endfor %}




  <div class = "btn-group">
    <form action="/login">
      <button class = "btn" href="/login"> <i class="fas fa-sign-in-alt fa-5x"></i>Login</button>
    </form>
    <form action="/register">
      <button class = "btn" href="/register"><i class="fas fa-user-plus fa-5x"></i>Register</button>
    </form>
  </div>
      </div>
    </div>
  </div>
{% endblock content %}
