{% extends 'admin/base.html' %}
{% block head_css %}
{{ super() }}
{% endblock head_css %}
{% block body %}

    {% with messages = get_flashed_messages() %}
       {% if messages %}
        <ul>
         {% for message in messages %}
           <li>{{ message }} </li>
         {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

<div class="container text-center">
    <h1>{{ title }}</h1>
</div>
<br>
<div class="container text-center">
  <form method= "POST" action="/admin/execute/">
     {{ form.hidden_tag() }}
    <fieldset class="form-group">
     <div class="form-group">
         {{ form.myField.label(class="form-control-label") }}
         <!-- checks to see if there are any errors when submitting username for registration -->
         {% if form.myField.errors %}
             {{ form.myField(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
                 {% for error in form.myField.errors %} <!-- if there are any errors -->
                     <span>{{ error }}</span> <!-- show error message -->
                 {% endfor %}
             </div>
         {% else %} <!-- if there are no erros -->
             {{ form.myField(class="form-control form-control-lg") }}
         {% endif %}
     </div>
     <div class="form-group">
         {{ form.multiplier.label(class="form-control-label") }}
         <!-- checks to see if there are any errors when submitting username for registration -->
         {% if form.multiplier.errors %}
             {{ form.multiplier(class="form-control form-control-lg is-invalid") }}
             <div class="invalid-feedback">
                 {% for error in form.multiplier.errors %} <!-- if there are any errors -->
                     <span>{{ error }}</span> <!-- show error message -->
                 {% endfor %}
             </div>
         {% else %} <!-- if there are no erros -->
             {{ form.multiplier(class="form-control form-control-lg") }}
         {% endif %}
     </div>

     <div class="form-group">
       {{ form.submit(class="btn btn-outline-dark") }} <!-- submit button for registration -->
   </div>
    </<fieldset>


</form>
</div>
{% endblock %}
