{% extends 'admin/master.html' %}
{% block head_css %}
{{ super() }}
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
{% endblock head_css %}
{%block body%}

<br>
<div class="container text-center">
    <h1>{{ title }}</h1>
</div>
<br>
<hr>
<div class="card" style="width: 18rem;">


  </div>
  <div class="card-header">
    <h1 class="h4" >Results: </h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Total Students Enrolled: {{ total_enrolled }}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of seats available: {{seats}}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of Courses: {{ncourses}}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of Students Applied to Computer Science {{CSApplicants}}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of Students Applied to Economics: {{ECApplicants}}</li>
  </ul>
  <div class="card-header">
    <h1 class="h4" > Total Students: {{total}}</h1>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Percentage of students enrolled {{ percentage_enrolled }}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of Universities: {{ uniNo }}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Average Percentage of seats with criteria fulfilled per course: {{avgpSeatsperCourseFulfilled}}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of Students enrolled that fulfill University Criteria Exactly: {{ nStudentsFulfill}}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Number of Students enrolled that fulfill University Criteria: {{ nStudentsFulfillorHigher}}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Percentage of Seats whose criteria are fulfilled exactly: {{ pSeatsFulfilled }}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Percentage of Seats whose criteria are fulfilled : {{ pSeatsFulfilledorHigher }}</li>
  </ul>
  <!-- <ul class="list-group list-group-flush">
    <li class="list-group-item">Percentage of Students enrolled that fulfill Criteria exactly: {{ pStudentsFulfilled }}</li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Percentage of Students enrolled that fulfill Criteria: {{ pStudentsFulfilledorHigher }}</li> -->
  </ul>
  <div class="card-header">
    <h1 class="h4" >Results per course: </h1>
  </div>
    {% for data in courseData %}

  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <h5>{{data[1]}}: {{data[2]}}, Rank: {{data[0]}}</h5></li>
    <ul>
      <li> Total Enrolled:{{data[3]}},   </li>
      <li>Total seats:{{data[4]}},</li>
      <li># Students that match course criteria exactly: {{data[5]}},</li>
      <li> # Students that match course criteria or higher: {{data[6]}}</li>
      <li># Students Enrolled at course that match course's criteria exactly: {{data[7]}}</li>
      <li># Students Enrolled at course that match course's criteria or higher: {{data[8]}}</li>
     </ul>
  </ul>
  {% endfor%}
{%endblock%}
