{% extends 'admin/master.html' %}
{% block head_css %}
{{ super() }}
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
{% endblock head_css %}
{%block body%}
<br>
<div class="container text-center">
    <h1>{{ verification }}</h1>
</div>

{%endblock%}
